#appBody {
  display: inline-block;
}

.button {
  cursor: pointer;
}

#header {
  float:left;
  width:99%;
}

#logo {
  text-align:left;
  vertical-align:top;
  width:50%;
  display: inline-block;
  font-weight: bold;
}

.userInfoContainer {
  text-align:right;
  width:50%;
  display: inline-block;
}

.headerElement {
  text-align: right;
  display:inline-block;
}