
.add {
  border: $b2 $deliciousPurple;
}

.following {
  position: fixed;
  right: 20%;
  top: 5px;
  width: 75px;
  border: $b2 red;

  .friend {
    padding-top: 5px;
    width: 100%;
  }
}

.showButton {
  padding: 5px;
  box-sizing: border-box;
}

.friend {
  border-bottom: $b2;
  border-top: $b2;
  border-color: $deliciousBlue;
  box-sizing: border-box;
}

//mixin practice
//also - these comments won't compile! awesome!

@mixin borderCustom($color, $thickness){
  border: $thickness solid $color;
}

.checkout {
  @include borderCustom(orange, 4px);
  border-radius: 4px;
  font-size: 24px;
}

.followButton {
  display: inline-block;
  border: 1px solid $deliciousPurple;
}

.followed {
  display: inline-block;
  background-color: lighten($color: $deliciousPurple, $amount: 20%);
  padding: 2px;
  opacity: .8;
}

.followButton:hover {
  background-color: $deliciousPurple;
}
