$deliciousPurple : rgb(233, 89, 233);
$deliciousBlue : rgb(37, 116, 219);
$b2 : 2px solid;

.add {
  border: $b2 $deliciousPurple;
}

.following {
  border: $b2 red;
  padding: 30px;

  .friend {
    padding: 10px 10px;
  }

}

.friend {
  border: $b2 $deliciousBlue;
}

//mixin practice
//also - these comments won't compile! awesome!

@mixin borderCustom($color, $thickness){
  border: $thickness solid $color;
}

.checkout {
  @include borderCustom(orange, 4px);
  border-radius: 4px;
}

.followButton {
  display: inline-block;
  border: 1px solid $deliciousPurple;
}

.followed {
  display: inline-block;
  background-color: lighten($color: $deliciousPurple, $amount: 20%);
  padding: 2px;
  opacity: .8;
}

.followButton:hover {
  background-color: $deliciousPurple;
}

.recipeTitle {
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 4px solid rgba(137, 43, 226, 0.276);
}

.recipeTitle:focus {
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 4px solid rgb(137, 43, 226);
  transition: border-bottom 2.5s;
}

.recipeIngredient {
  display: block;
}